.cohort-heading{
    display:grid;
    margin:0;
    background-color: #1500cc;
    width: 10%;
    text-align: center;
    color: #ffffff;


}

#cohort-selector{
    position:fixed;
    text-align: center;
    padding:2px;
    color: #fff;
    background-color: blue;
   
}

.container{
    display: flex;
    justify-content: space-around;
}

.first-description-line{
    display: flex;
    justify-content: center;
}

.main-heading{
    text-align: center;
    font-weight:900;
}

.genderBalanceHeading{
    text-align: center;

}

.codes {
   display: grid;
    justify-content: center; 
    width:  100%;
    font-weight:500;
}

.narrative{
    display: grid;
    justify-content: center;
    width:  100%;
}

.scattergraphs{
    display: flex;
    justify-content:space-around;
}

.english_section{
    display:grid;
    justify-content:center;
    width:50%;
    text-align: center;
}


#english-correlation-age-heading{
    display:grid;
    justify-content: center;
    font-family:sans-serif;
    font-weight: bold;
}

.maths-att-scatter{
    display:grid;
    justify-content:center;
    width:100%;
}

#maths-correlation-attendance-heading{
    display:grid;
    justify-content: center;
    font-family:sans-serif;
    font-weight: bold;
}


   


.othersubjects{
    display:flex;
    justify-content:space-around;
}

#othersubjectsheading{
    text-align: center;
    font-weight:700;
}

.moreothersubjects{
    display:flex;
    justify-content:space-around;
}



.pupildata {
    font-weight: bold;
    text-align: center;
}

.infographic{
  font-weight:700;
  
}

.ofsted-data{
  background-color: lightgrey;
  width: 300px;
  border: 5px solid green;
  padding: 5px;
  margin: 5px;
  margin:auto;
}

.counties{
  font-weight:700;
  
}

.otherschools{
  background-color: lightgrey;
  width: 300px;
  border: 5px solid green;
  padding: 5px;
  margin: 5px;
  margin:auto;
}

table{
    margin:auto;
    width: 50%;
}

/* media queries for html elements*/


@media only screen and (max-width: 560px) {
  .cohort-heading{
    background-color: blue;
    margin: auto;
    width: 50%;
    
    
}}

@media only screen and (max-width: 560px) {
  .cohort-selector{
    background-color: blue;
    float: right;
    
}}


@media only screen and (max-width: 560px) {
  .narrative{
    background-color: lightgrey;
    margin: auto;
    text-align: center;
    
}}

@media only screen and (max-width: 560px) {
  .container{
    flex-direction: column;
    
}}

@media only screen and (max-width: 560px) {
  .othersubjects{
    flex-direction: column;
    
}}

@media only screen and (max-width: 560px) {
  .moreothersubjects{
    flex-direction: column;
    
}}

@media only screen and (max-width: 560px) {
  .pupildata{
    margin:auto;
    
}}